@font-face {
    font-family: "Unbounded-Bold";
    src: url("../fonts/Unbounded-Bold.ttf");
}

* {
    outline: 0;
    margin: 0;
    padding: 0;
    /* disable on touch highlights of html elements, especially on mobile! */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

#header {
    height: 400px;
    width: 100%;
    position: relative;
}

#headerText {
    height: 500px;
    width: 100%;
    padding-top: 23px;
    margin: 0;
    margin-left: -15px;
}

nav {
    height: 170px;
    width: 680px;
    cursor: pointer;
    z-index: 100;
    margin-top: -450px;
}

#go-tgth {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#click-to-go {
    margin-top: -180px;
    margin-right: 25px;
    width: 800px;
    text-align: center;
    z-index: 110;
    transition: all 0.5s ease;
}

#click-to-go img {
    position: relative;
    top: 7px;
    margin-top: 1%;
    width: 32px;
    height: 32px;
    transition: all 0.4s ease;
}

#click-to-go a {
    font-size: 15px;
    color: #b83333;
    font-family: "Unbounded-Bold", sans-serif;
    font-weight: 900;
    text-decoration: none;
    transition: all 0.4s ease;
    text-shadow: 2px 0 #f6e8d6, -2px 0 #f6e8d6, 0 2px #f6e8d6, 0 -2px #f6e8d6,
    1px 1px #f6e8d6, -1px -1px #f6e8d6, 1px -1px #f6e8d6, -1px 1px #f6e8d6; 
}

#click-to-go:hover {
    transform: translateY(-30%)
}

#click-to-go:hover img {
    height: 50px;
    width: 50px;
}

#click-to-go:hover a {
    color: #1d8e42;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden; /* disable scrolling / rubberband effect on mobile */
}

canvas {
    display: block;
    position: absolute;
    outline: 0;
}