<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge, chrome=1" />
    <meta name = "viewport" content = "width=device-width, initial-scale=1,
    maximum-scale=1, user-scalable=0">
    <title>SENSAI - Anime Recommender System</title>

    <link rel = "stylesheet" type = "text/css" href = '/static/css/index.css'>
    <link rel = "shortcut icon" href = "/static/assets/sensai-logo.ico" type = "image/x-icon">

    <script src = "https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
</head>

<body>

    <div id = "header">
        <canvas id = "glcanvas" width = "100vw" height = "100vh" tabindex = "1"></canvas>
        <div id = "headerText"></div>
        <div id = "go-tgth">
            <nav>
                <div id = "nextpage"></div>
            </nav>
            <div id = "click-to-go"><img src = "static/assets/arrow-up-wh.png"><a href = "/home">Recommendations for your favourite anime just a click away!</a><img src = "static/assets/arrow-up-wh.png"></div>
        </div>
    </div>

    <script  type = "module" src = "{{ url_for('static', filename = 'js/headerjs.js')}}"></script>

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/patch.js')}}" async></script>

    <script>

        // disable rubberband effect on mobile devices
        document.getElementById('glcanvas').addEventListener('touchmove', (e)=>{ e.preventDefault(); }, false);


        function patchInitialized(patch) {
            // You can now access the patch object (patch), register variable watchers and so on
        }

        function patchFinishedLoading(patch) {
            // The patch is ready now, all assets have been loaded
        }

        document.addEventListener('CABLES.jsLoaded', function (event) {
            CABLES.patch = new CABLES.Patch({
                patch: CABLES.exportedPatch,
                "prefixAssetPath": "",
                "assetPath": "assets/",
                "jsPath": "js/",
                "glCanvasId": "glcanvas",
                "glCanvasResizeToWindow": true,
                "onPatchLoaded": patchInitialized,
                "onFinishedLoading": patchFinishedLoading,
                "canvas":{"alpha":true,"premultipliedAlpha":true} // make canvas transparent
            });
        });

        document.querySelector('nav').addEventListener('click', function(e) {
            window.location.href = '/home';
        }, false);

    </script>
    
</body>

</html>